@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #212121;

    padding: 30px;
    background: #fbf8f2;
}

/* Headings and logo*/

h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: #212121;
}

h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 1.6rem;
    line-height: 2.0rem;
    font-weight: 500;
    color: #9c9c9c;
}

#logo {
    float: left;
    font-size: 250%;
    text-transform: uppercase;
}

/* Navigation */

#menu {

}

#menu li {
    float: right;
    list-style-type: none;
}

/* Buttons and graphics */

.button-pill {
    font-family: "DM Sans", sans-serif;
    font-size: 19px;
    letter-spacing: 0.05rem;
    color: #fbf8f2;
    border-radius: 30px;
    background-color: #212121;
    padding: 10px;
    width: contentfit;
    height: fit-content;
    text-align: center;
    display: block;
  }